*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(images/portfolio-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 80%;
    height: 100vh;
    width: 100vw;
}

h1, h2{
    color: white;
    text-decoration-line: underline;
}



/* header */
header {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    width: 100vw;
}

header h1 {
    font-weight: bold;
    font-size: 35px;
    text-decoration-line: underline;
    color: #f4f6f7;
    margin: 5px 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a:hover{
    color: #021bfa;
}
header a {
    color: #fdfdfd;   
    text-decoration: none;
    text-decoration-line: underline;

}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0px 0px 15px rgba(1, 68, 253, 0.8);
}

/* header end */

/*footer*/

footer {
    width: 100vw;
    margin-top: 30px;

    background-color: rgb(0, 0, 0);
    border-top: 3px solid rgb(252, 252, 252);
}

footer h2{
    text-align: end;
    font-size: 15px;
    color: #028afa;
    text-shadow: 0px 0px 15px rgba(1, 68, 253, 0.8);
}

/* footer end */