*{
    padding: 0;
    margin: 0;
}

/*Background Images*/

.about-me{
    background-image: url(images/bio-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 80%;
    height: 100vh;
}

.contact-me{
    background-image: url(images/contact-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 80%;
    height: 100vh; 
}

.portfolio{
    background-image: url(images/portfolio-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 80%;
    height: 100vh;
    width: 100vw;
}

/*Background Images End*/


/* About Me Styling*/

.profile-pic{
    width: 35%;
    height: 40%;
    border-radius: 50%;
    margin-right: 20px;
}

.content{
    border-radius: 20px;
}

/* About Me Styling End*/

/*Contact Me Styling*/

