*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(images/bio-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 80%;

}

/* header styling */
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("images/bio-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    text-decoration-line: underline;
    color: #f4f6f7;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    color: #389dfc;   
    text-decoration: none;
    text-decoration-line: underline;

}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* header styling end */

/* About Me*/

.content{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    width: 1000px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container img{
    border-radius: 50%;
    height: 350px;
    width: 300px;
    padding: 15px;
}

.bio{
    margin: 15px;
    padding: 20px;
    background-color: rgb(247, 247, 247,.8);
}

.bio h2{
    font-size: 40px;
    padding-bottom: 30px;
}

.bio p{
    font-size: 18px;
}
